<div class="dialog-container">
  <div class="dialog">
    <div class="dialog-title">Add new Github user</div>
    <div class="dialog-body">
      <select id="selectCityToAdd" [(ngModel)]="user">
        <!-- Values map to Yahoo Weather API Where On Earth Identifiers (WOEIDs).
             https://developer.yahoo.com/weather/documentation.html#req -->
        <option value="jDman">Jay Davis</option>
        <option value="jess0407">Jessie Shi</option>
      </select>
    </div>
    <div class="dialog-buttons">
      <button id="butAddCity"
              class="button"
              (mouseup)="onMouseUp($event)">Add</button>
      <button id="butAddCancel"
              class="button"
              (mouseup)="onMouseUp($event)">Cancel</button>
    </div>
  </div>
</div>
