<div class="card cardTemplate weather-forecast">
    <div class="card-last-updated"></div>
    <div class="location">{{location}}</div>
    <div class="date">{{date+'000' | date}}</div>
    <div class="description">{{description}}</div>
    <div class="current">
      <div class="visual">
        <div class="icon"><img src="http://openweathermap.org/img/w/{{iconCode}}.png" [alt]="description"/></div>
        <div class="temperature">
          <span class="value">{{temperature}}</span><span class="scale">°C</span>
        </div>
      </div>
      <div class="description">
        <div class="humidity">{{humidity}}</div>
        <div class="wind">
          <span class="value">{{windSpeed}}</span>
          <span class="scale">m/s</span>
          <span class="direction">{{windDegree}}</span>°
        </div>
        <div class="sunrise">{{sunrise+'000' | date: 'HH:mm Z'}}</div>
        <div class="sunset">{{sunset+'000' | date: 'HH:mm Z'}}</div>
      </div>
    </div>
    <!--<div class="future">
      <div class="oneday">
        <div class="date"></div>
        <div class="icon"></div>
        <div class="temp-high">
          <span class="value"></span>°
        </div>
        <div class="temp-low">
          <span class="value"></span>°
        </div>
      </div>
      <div class="oneday">
        <div class="date"></div>
        <div class="icon"></div>
        <div class="temp-high">
          <span class="value"></span>°
        </div>
        <div class="temp-low">
          <span class="value"></span>°
        </div>
      </div>
      <div class="oneday">
        <div class="date"></div>
        <div class="icon"></div>
        <div class="temp-high">
          <span class="value"></span>°
        </div>
        <div class="temp-low">
          <span class="value"></span>°
        </div>
      </div>
      <div class="oneday">
        <div class="date"></div>
        <div class="icon"></div>
        <div class="temp-high">
          <span class="value"></span>°
        </div>
        <div class="temp-low">
          <span class="value"></span>°
        </div>
      </div>
      <div class="oneday">
        <div class="date"></div>
        <div class="icon"></div>
        <div class="temp-high">
          <span class="value"></span>°
        </div>
        <div class="temp-low">
          <span class="value"></span>°
        </div>
      </div>
      <div class="oneday">
        <div class="date"></div>
        <div class="icon"></div>
        <div class="temp-high">
          <span class="value"></span>°
        </div>
        <div class="temp-low">
          <span class="value"></span>°
        </div>
      </div>
      <div class="oneday">
        <div class="date"></div>
        <div class="icon"></div>
        <div class="temp-high">
          <span class="value"></span>°
        </div>
        <div class="temp-low">
          <span class="value"></span>°
        </div>
      </div>
    </div>-->
  </div>
