<div class="card cardTemplate user-details">
    <div class="card-last-updated"></div>
    <div class="name">{{name}}</div>

    <div class="current">
      <div class="visual">
        <div class="icon"><img src="{{avatar}}" [alt]="name"/></div>
      </div>
      <div class="description">
        <div class="location">
          Location: {{location}}
        </div>
        <div class="date">
          Since: {{date | date: 'MM/yyyy'}}
        </div>

        <div class="company">
          Company: {{company}}
        </div>

        <div class="bio">{{bio}}</div>
      </div>
    </div>
  </div>
