<div class="container">
  <app-header (onRefresh)="onRefresh($event)"></app-header>

  <main class="main">
    <div *ngFor="let card of cards">
      <app-card [name]="card.name"
                [location]="card.location"
                [bio]="card.bio"
                [company]="card.company"
                [avatar]="card.avatar_url"
                [date]="card.created_at"
                >
      </app-card>
    </div>
  </main>

  <app-dialog (addUser)="onAddUser($event)"></app-dialog>

  <app-loader></app-loader>
</div>
